.main-sidebar {
  min-height: 100%;
  position: absolute;
  z-index: 1;
  width: 250px;
  background-color: #343a40;
}

.brand-img {
  width: 30px;
  height: 30px;
}

.brand-link {
  height: 50px;
  border-bottom: 1px solid white;
}
